* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: fit-content;
  padding: 100px;
}

header {
  font-family: "Lobster-Regular", sans-serif;
  position: relative;
  top: 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #adff73;
  text-decoration: none;
}
header a {
  font-family: "Lobster-Regular", sans-serif;
}
body {
  background-color: #ffffff;
  font-size: 55px;
}
body {
  background-position: left;
  background-position: top left;
  background-repeat: space;
}
h1 {
  font-family: "Lobster-Regular", sans-serif;
  text-align: center;
  color: #131313;

  margin: 2%;
}
h2 {
  font-family: "baskerville", sans-serif;
  padding: 5px;
  color: #131313;
  text-align: left;
  margin: 50px;
}
p {
  font-family: "Lobster-Regular", sans-serif;
  position: relative;
  padding: 100px;
  text-decoration: none;
  margin: 2%;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 50px;
  color: #131313;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.menu a:hover {
  color: #21b820;
  text-align: center;
}

.burger {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.burger {
  display: block;
}
@media screen and (max-width: 800px) {
  .menu {
    display: contents;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #658bff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(255, 212, 93, 0.8);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

footer {
  text-align: center;
  padding: 2%;
  background-color: #adff73;
  position: static;
}
